ORACLE_IMAGE=usig-registrydocker.ujaen.es:5044/uvirtual/oracle/database:18.4.0-xe
ORACLE_DATA=/home/usuario/bolsa-trabajo/oracle-data
ORACLE_SCRIPTS_STARTUP=/home/usuario/bolsa-trabajo/uv-externo/Documentos/docker/init-oracle
