.settings/
.classpath
.project
build/
dist/
builds
WebContent/WEB-INF/web.xml.*
WebContent/WEB-INF/classes/global.properties.*
WebContent/WEB-INF/classes/configuracion.properties
*~ 
Documentos/*~
WebContent/testSAML/
WebContent/test/
WebContent/pruebas2
patch_produccion.patch
patch_preproduccion.patch
patch*
*.patch
*.patch~
distrib/publicacion
distrib/publicacion.pub
distrib/acm/*.pyc
WebContent/WEB-INF/classes/devel.properties
WebContent/WEB-INF/classes/configuracion.properties
/bin
/.scannerwork/
node_modules
