table.bluetable.bolsaempleo {
	width: 100%;		
}

table.bluetable.bolsaempleo th {
	padding-left: 5px;
}

table.bluetable.bolsaempleo button.btn {
	border: none; /* Remove borders */
	font-size: 11px; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
}

table.bluetable.bolsaempleo tfoot span.total {
	float: right;
}

table.bluetable.bolsaempleo button.btn:hover {
	background-color: #83a8ff;
}

.noticias-bolsa-empleo > ul {
	list-style-type: none !important;
}