<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>UniversidadVirtual</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>Origen de datos Universidad Virtual</description>
    <res-ref-name>jdbc/uvirtual</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <description>Origen de datos de recursos humanos</description>
    <res-ref-name>jdbc/uxxirrhh</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <description>Origen de datos de arcos</description>
    <res-ref-name>jdbc/arcos</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <description>Origen de datos de académico</description>
    <res-ref-name>jdbc/uxxiac</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <description>Origen de datos de económico</description>
    <res-ref-name>jdbc/uxxiec</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <description>Origen de datos de tramitación</description>
    <res-ref-name>jdbc/tramuja</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <filter-mapping>
    <filter-name>ValidaEstadoSistema</filter-name>
    <url-pattern>/srv/*</url-pattern>
    <url-pattern>/pub/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GeneradorLog</filter-name>
    <url-pattern>/sso</url-pattern>
    <url-pattern>/srv/*</url-pattern>
    <url-pattern>/pub/*</url-pattern>
    <url-pattern>/error/*</url-pattern>
    <url-pattern>/json/*</url-pattern>
    <url-pattern>/salir</url-pattern>
    <url-pattern>/slo</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ValidaSAML</filter-name>
    <url-pattern>/sso</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ValidaAutenticacion</filter-name>
    <url-pattern>/sso</url-pattern>
    <url-pattern>/srv/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ValidaIdioma</filter-name>
    <url-pattern>/srv/*</url-pattern>
    <url-pattern>/pub/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ValidaAcceso</filter-name>
    <url-pattern>/srv/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GeneradorPDF</filter-name>
    <url-pattern>/srv/es/*</url-pattern>
    <url-pattern>/srv/en/*</url-pattern>
    <url-pattern>/pub/es/*</url-pattern>
    <url-pattern>/pub/en/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GeneradorContenido</filter-name>
    <url-pattern>/srv/*</url-pattern>
    <url-pattern>/pub/*</url-pattern>
    <url-pattern>/error/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GeneradorCabecera</filter-name>
    <url-pattern>/srv/*</url-pattern>
    <url-pattern>/pub/*</url-pattern>
    <url-pattern>/error/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GeneradorCuerpoPreServlet</filter-name>
    <url-pattern>/srv/*</url-pattern>
    <url-pattern>/pub/*</url-pattern>
    <url-pattern>/error/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GeneradorCuerpoPostServlet</filter-name>
    <url-pattern>/srv/*</url-pattern>
    <url-pattern>/pub/*</url-pattern>
    <url-pattern>/error/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GeneradorPie</filter-name>
    <url-pattern>/srv/*</url-pattern>
    <url-pattern>/pub/*</url-pattern>
    <url-pattern>/error/*</url-pattern>
  </filter-mapping>
</web-app>